set_i:
    5
    int
    i
    set

dec_i:
    i
    get
    dec
    i
    set

_start:
    set_i
    i
    get
    out
    dec_i
    i
    get
    0
    eq
    1
    28
    if
    jmp
    Hello!
    out
